<div class="ui active inverted dimmer" *ngIf="loading">
    <div class="ui loader"></div>
</div>
<h3 class="ui horizontal divider header">Zlecenie {{ order.id }} - {{ order.mark }} {{ order.model }}</h3>
<ng-container *ngIf="!edit">
    <div class="ui right floated icon button mini" (click)="editMode(true)"><i class="write icon"></i></div>
    <b>Data:</b> {{ order.date | date: 'dd/MM/yyyy' }}
    <br>
    <b>Termin:</b> {{ order.term | date: 'dd/MM/yyyy' }}
    <br>
    <b>Zakończono:</b> {{ order.completed ? "Tak" : "Nie" }}
    <br>
    <b>Notatki:</b> {{ order.notes }}
</ng-container>
<ng-container *ngIf="edit">
    <form class="ui form" #orderParamsForm="ngForm">
        <b style="font-size:1.07142857rem;">Edycja</b>
        <!-- <div class="ui right floated icon button mini" (click)="editMode(false)"><i class="close icon"></i></div> -->
        <div class="field" [ngClass]="{'error': (!date.valid && (date.dirty || date.touched))}">
            <label>Data *</label>
            <input type="date" name="date" [(ngModel)]="orderEdit.date" (ngModelChange)="orderEdit.date  = $event" required #date="ngModel">
            <div *ngIf="date.errors && (date.dirty || date.touched)">
                <small [hidden]="!date.errors.required">Data jest wymagana</small>
            </div>
        </div>
        <div class="field" [ngClass]="{'error': (!term.valid && (term.dirty || term.touched))}">
            <label>Termin *</label>
            <input type="date" name="term" [(ngModel)]="orderEdit.term" (ngModelChange)="orderEdit.term  = $event" required #term="ngModel">
            <div *ngIf="term.errors && (term.dirty || term.touched)">
                <small [hidden]="!term.errors.required">Termin jest wymagany</small>
            </div>
        </div>
        <div class="field">
            <label>Zakończono *</label>
            <div class="ui toggle checkbox">
                <input type="checkbox" name="gift" tabindex="0" class="hidden" [(ngModel)]="orderEdit.completed">
                <label>{{orderEdit.completed ? "Tak" : "Nie"}}</label>
            </div>
        </div>
        <div class="field">
            <label>Notatki</label>
            <input type="text" name="notes" placeholder="Notatki" [(ngModel)]="orderEdit.notes">
        </div>
        <button class="ui  green labeled icon button" (click)="save()" [disabled]="!orderParamsForm.form.valid">
            <i class="save icon"></i> Zapisz
        </button>
        <br>
        <br>
        <small>* Pola oznaczone gwiazdką, są wymagane</small>
    </form>
</ng-container>
