<div class="ui two column centered grid">
    <div class="column">
        <div class="ui segment" style="text-align: justify;">
            <h1 style="text-align: center;">Daj Się Poznać 2017</h1>
            <p>
                <b>Warsztat - Aplikacja internetowa do zarządzania warsztatami samochodowymi.</b>
            </p>
            <p>
                Aplikacja została stworzona w celu uzupełnienia portfolio i nauki nowych technologii (Symfony3, Angular2, Semantic-UI, JSON Web Token). Projekt bierze również udział w konkursie Daj Się Poznać 2017 (<a href="http://uczestnicy.dajsiepoznac.pl/profil/mateusz-cholewka">strona konkursowa projektu</a>), organizowaym przez Macieja Aniserowicza z <a href="http://devstyle.pl/">DevStyle.pl</a>. Wszelkie prace nad projektem, zostały udokumentowane na <a href="http://webmtkblog.wordpress.com/">blogu webmtkblog.wordpress.com</a>, oraz w <a href="https://github.com/mtk3d/warsztat">repozytorium GitHub</a>.
            </p>
            <p>
                <b>Ta strona udostępnia aplikację jedynie w celach prezentacyjnych.</b>
                <br>
                <b>Nie odpowiadam z żadne informacje i dane umieszczane tutaj przez osoby korzystające z aplikacji.</b>
            </p>
        </div>
    </div>
</div>
