<div class="timetable-container">
    <div class="ui centered grid">
        <div class="ui icon large buttons">
            <button class="ui button">
                <i class="angle left icon"></i>
            </button>
            <button class="ui button">
                kwiecień 2017
            </button>
            <button class="ui button">
                <i class="angle right icon"></i>
            </button>
        </div>
    </div>
    <br>
    <br>
    <div class="timetable">
        <div class="header">
            <div class="item">
                <p>Poniedziałek</p>
            </div>
            <div class="item">
                <p>Wtorek</p>
            </div>
            <div class="item">
                <p>Środa</p>
            </div>
            <div class="item">
                <p>Czwartek</p>
            </div>
            <div class="item">
                <p>Piątek</p>
            </div>
            <div class="item">
                <p>Sobota</p>
            </div>
            <div class="item">
                <p>Niedziela</p>
            </div>
        </div>
        <div class="week">
            <div class="item inactive">
                <p class="day">27</p>
            </div>
            <div class="item inactive">
                <p class="day">28</p>
                <ul>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                </ul>
            </div>
            <div class="item inactive">
                <p class="day">29</p>
            </div>
            <div class="item inactive">
                <p class="day">30</p>
            </div>
            <div class="item inactive">
                <p class="day">31</p>
            </div>
            <div class="item">
                <p class="day">1</p>
            </div>
            <div class="item">
                <p class="day">2</p>
            </div>
        </div>
        <div class="week">
            <div class="item">
                <p class="day">3</p>
                <ul>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                </ul>
            </div>
            <div class="item">
                <p class="day">4</p>
            </div>
            <div class="item">
                <p class="day">5</p>
            </div>
            <div class="item">
                <p class="day">6</p>
            </div>
            <div class="item">
                <p class="day">7</p>
            </div>
            <div class="item">
                <p class="day">8</p>
            </div>
            <div class="item">
                <p class="day">9</p>
            </div>
        </div>
        <div class="week">
            <div class="item">
                <p class="day">10</p>
            </div>
            <div class="item">
                <p class="day">11</p>
            </div>
            <div class="item">
                <p class="day">12</p>
            </div>
            <div class="item">
                <p class="day">13</p>
            </div>
            <div class="item">
                <p class="day">14</p>
            </div>
            <div class="item">
                <p class="day">15</p>
            </div>
            <div class="item">
                <p class="day">16</p>
            </div>
        </div>
        <div class="week">
            <div class="item">
                <p class="day">17</p>
            </div>
            <div class="item">
                <p class="day">18</p>
            </div>
            <div class="item">
                <p class="day">19</p>
                <ul>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                </ul>
            </div>
            <div class="item">
                <p class="day">20</p>
            </div>
            <div class="item">
                <p class="day">21</p>
            </div>
            <div class="item">
                <p class="day">22</p>
            </div>
            <div class="item">
                <p class="day">23</p>
            </div>
        </div>
        <div class="week">
            <div class="item">
                <p class="day">24</p>
                <ul>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                </ul>
            </div>
            <div class="item">
                <p class="day">25</p>
            </div>
            <div class="item">
                <p class="day">26</p>
            </div>
            <div class="item">
                <p class="day">27</p>
            </div>
            <div class="item">
                <p class="day">28</p>
            </div>
            <div class="item">
                <p class="day">29</p>
            </div>
            <div class="item">
                <p class="day">30</p>
            </div>
        </div>
        <div class="week">
            <div class="item">
                <p class="day">31</p>
                <ul>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                    <li><a href="#">Zlecenie 123</a></li>
                </ul>
            </div>
            <div class="item inactive">
                <p class="day">01</p>
            </div>
            <div class="item inactive">
                <p class="day">02</p>
            </div>
            <div class="item inactive">
                <p class="day">03</p>
            </div>
            <div class="item inactive">
                <p class="day">04</p>
            </div>
            <div class="item inactive">
                <p class="day">05</p>
            </div>
            <div class="item inactive">
                <p class="day">06</p>
            </div>
        </div>
    </div>
</div>