<div class="timetable-container">
    <!-- <div style="float: left; margin-top: 10px; position: absolute;">
        <div class="ui form" style="float: left; margin-right: 10px">
            <div class="inline field">
                <label>Rok</label>
                <input type="number" name="year" [(ngModel)]="year+1" (change)="reload()" min="1" max="9999">
            </div>
        </div>
        <div class="ui form" style="float: left;">
            <div class="inline field">
                <label>Miesiąc</label>
                <input type="number" name="month" [(ngModel)]="month+1" (change)="reload()" min="1" max="12">
            </div>
        </div>
    </div> -->
    <div class="ui centered grid">
        <div class="ui icon large buttons">
            <button class="ui button" (click)="previousMonth()">
                <i class="angle left icon"></i>
            </button>
            <button class="ui button">
                {{ monthName }} {{ year }}
            </button>
            <button class="ui button" (click)="nextMonth()">
                <i class="angle right icon"></i>
            </button>
        </div>
    </div>
    <button class="ui button" style="float: right; margin-top: -20px;" (click)="now()">
        Dzisiaj
    </button>
    <br>
    <br>
    <div class="timetable">
        <div class="header">
            <div class="item">
                <p>Poniedziałek</p>
            </div>
            <div class="item">
                <p>Wtorek</p>
            </div>
            <div class="item">
                <p>Środa</p>
            </div>
            <div class="item">
                <p>Czwartek</p>
            </div>
            <div class="item">
                <p>Piątek</p>
            </div>
            <div class="item">
                <p>Sobota</p>
            </div>
            <div class="item">
                <p>Niedziela</p>
            </div>
        </div>
        <div class="days">
            <div class="item" [ngClass]="{'inactive': day.inactive}" *ngFor="let day of calendar">
                <p class="day" [ngClass]="{'today': day.date == today}">{{ day.number }}</p>
                <ul>
                    <li *ngFor="let item of day.items" class="day-item">
                        <a [routerLink]="['/orders', item.id]" [ngClass]="{'completed-item': item.completed}">
                            <i *ngIf="item.completed" class="checkmark box icon"></i>
                            <i *ngIf="!item.completed" class="square outline icon"></i>
                            {{ item.name }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
