<div class="timetable-container">
    <div class="ui centered grid">
        <div class="ui icon large buttons">
            <button class="ui button" (click)="previousMonth()">
                <i class="angle left icon"></i>
            </button>
            <button class="ui button">
                {{ monthName }} {{ year }}
            </button>
            <button class="ui button" (click)="nextMonth()">
                <i class="angle right icon"></i>
            </button>
        </div>
    </div>
    <br>
    <br>
    <div class="timetable">
        <div class="header">
            <div class="item">
                <p>Poniedziałek</p>
            </div>
            <div class="item">
                <p>Wtorek</p>
            </div>
            <div class="item">
                <p>Środa</p>
            </div>
            <div class="item">
                <p>Czwartek</p>
            </div>
            <div class="item">
                <p>Piątek</p>
            </div>
            <div class="item">
                <p>Sobota</p>
            </div>
            <div class="item">
                <p>Niedziela</p>
            </div>
        </div>
        <div class="days">
            <div class="item" [ngClass]="{'inactive': day.inactive}" *ngFor="let day of calendar">
                <p class="day" [ngClass]="{'today': day.date == today}">{{ day.number }}</p>
                <ul>
                    <li *ngFor="let item of day.items"><a href="{{ item.uri }}">{{ item.name }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div (click)="addOrder()">dodaj</div>
