<div class="ui grid" style="min-height: calc(100vh - 80px);">
    <div class="four wide column">
        <div class="ui segment">
            <document-params [id]=id></document-params>
        </div>
        <div class="ui segment">
            <div class="ui active inverted dimmer" *ngIf="userDataLoading">
                <div class="ui loader"></div>
            </div>
            <h3 class="ui horizontal divider header">Sprzedawca</h3>
            <p>
                {{userData.name}}
                <br>
                <span *ngIf="userData.street">{{userData.street}}<span *ngIf="userData.buildNumber">, {{userData.buildNumber}}</span><span *ngIf="userData.apartmentNumber">/{{userData.apartmentNumber}}</span>
                </span>
                <br>
                <span *ngIf="userData.postalCode">{{userData.postalCode}} </span>
                <span *ngIf="userData.place">{{userData.place}}</span>
                <br>
                <span *ngIf="userData.nip">NIP {{userData.nip}}</span>
                <br>
            </p>
        </div>
        <div class="ui segment">
            <h3 class="ui horizontal divider header">Nabywca</h3>
            <consumer-input [consumerId]=consumerId (consumerOutput)="setConsumerId($event)"></consumer-input>
        </div>
        <div class="document-buttons">
            <div class="ui blue labeled icon button tiny" (click)="getDoc('print')">
                <i class="print icon"></i> Drukuj
            </div>
            <div class="ui green labeled icon button tiny" (click)="getDoc('download')">
                <i class="download icon"></i> Pobierz
            </div>
            <div class="ui yellow labeled icon button tiny" (click)="getDoc('preview')">
                <i class="file pdf outline icon"></i> Podgląd
            </div>
        </div>
    </div>
    <div class="twelve wide column">
        <document-positions [id]=id></document-positions>
    </div>
</div>
