<table class="ui celled table selectable">
    <thead>
        <tr>
            <th class="collapsing">
                <div class="ui fitted checkbox">
                    <input type="checkbox">
                    <label></label>
                </div>
            </th>
            <th class="collapsing">L.p.</th>
            <th>Nazwa</th>
            <th>Ilość</th>
            <th>Netto</th>
            <th>VAT</th>
            <th>Kwota VAT</th>
            <th>Brutto</th>
            <th class="collapsing"></th>
        </tr>
    </thead>
    <tbody>
            <tr *ngFor="let documentPosition of documentPositions;  let i = index">
                <td class="collapsing">
                    <div class="ui fitted checkbox">
                        <input type="checkbox">
                        <label></label>
                    </div>
                </td>
                <td class="collapsing" style="text-align: center;">{{ i + 1 }}</td>
                <td>{{ documentPosition?.name }}</td>
                <td>{{ documentPosition?.quantity}}</td>
                <td>{{ documentPosition?.netto | number : '1.2-2'}}</td>
                <td>{{ documentPosition?.vat }}%</td>
                <td>{{ documentPosition?.vat_sum | number : '1.2-2'}}</td>
                <td>{{ documentPosition?.brutto | number : '1.2-2'}}</td>
                <td class="collapsing" style="text-align: center;">
                    <div class="ui  blue icon button mini"><i class="write icon"></i></div>
                    <div class="ui  red icon button mini"><i class="remove icon"></i></div>
                </td>
            </tr>
        <tr *ngIf="isAddView()">
            <td colspan="2" style="text-align: center;">
                <span>{{ typeOfPosition() }}</span>
                <div class="ui toggle fitted checkbox">
                    <input type="checkbox" (change)="changePositionType()">
                    <label></label>
                </div>
            </td>
            <td>
                <div class="ui form">
                    <div class="field">
                        <select class="ui search dropdown" (change)="nameSelect($event.target.value)">
                            <option value="">Wybierz</option>
                            <option *ngFor="let item of selectItems" value="{{ item.id }}">{{ item.name }}</option>
                        </select>
                    </div>
                </div>
            </td>
            <td class="collapsing">
                <div class="ui input smaller-value">
                    <input type="text" name="quantity" [(ngModel)]="addPosition.quantity" (blur)="quantityBlur()">
                </div>
            </td>
            <td class="collapsing">
                <div class="ui input small-value">
                    <input type="text" name="netto" [(ngModel)]="addPosition.netto" (blur)="nettoBlur()">
                </div>
            </td>
            <td class="collapsing">
                <div class="ui right labeled input small-value">
                    <input type="text" name="vat" style="width: 50px;" [(ngModel)]="addPosition.vat" (blur)="vatBlur()">
                    <div class="ui basic label">
                        %
                    </div>
                </div>
            </td>
            <td class="collapsing">
                <div class="ui input small-value">
                    <input type="text" name="vatSum" [(ngModel)]="addPosition.vatSum" (blur)="vatSumBlur()">
                </div>
            </td>
            <td class="collapsing">
                <div class="ui input small-value">
                    <input type="text" name="brutto" [(ngModel)]="addPosition.brutto" (blur)="bruttoBlur()">
                </div>
            </td>
            <td class="collapsing">
                <div class="ui  green icon button mini" (click)="addNewPosition()"><i class="checkmark icon"></i></div>
                <div class="ui  red icon button mini" (click)="closeAdd()"><i class="remove icon"></i></div>
            </td>
        </tr>
        <tr *ngIf="isReturn()">
            <td colspan="4">Razem:</td>
            <td>{{ document.netto | number : '1.2-2'}}</td>
            <td>{{ document.vat }}%</td>
            <td>{{ document.vatSum | number : '1.2-2'}}</td>
            <td>{{ document.brutto | number : '1.2-2'}}</td>
            <td class="collapsing"></td>
        </tr>
    </tbody>
    <tbody *ngIf="noReturn()">
        <tr>
            <td colspan="9" class="ui center aligned" style="font-size: 20px; color: #ccc;">
                Brak pozycji
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="9">
                <div class="ui  red labeled icon button disabled">
                    <i class="trash icon"></i> Usuń
                </div>
                <div class="ui  green right floated labeled icon button" (click)="addView()" [ngClass]="{'disabled': isAddView()}">
                    <i class="plus icon"></i> Dodaj
                </div>
            </th>
        </tr>
    </tfoot>
</table>
