<table class="ui celled table selectable">
    <thead>
        <tr>
            <th class="collapsing">
                <div class="ui fitted checkbox">
                    <input type="checkbox"  (change)="allDelete()" [checked]="isAllChecked()">
                    <label></label>
                </div>
            </th>
            <th class="collapsing">L.p.</th>
            <th>Nazwa</th>
            <th>Ilość</th>
            <th>Netto</th>
            <th>VAT</th>
            <th>Kwota VAT</th>
            <th>Brutto</th>
            <th class="collapsing"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let documentPosition of documentPositions;  let i = index">
            <td class="collapsing">
                <div class="ui fitted checkbox">
                    <input type="checkbox" (change)="addDelete(documentPosition.id)" [checked]="isCheck(documentPosition.id)">
                    <label></label>
                </div>
            </td>
            <td class="collapsing" style="text-align: center;">{{ i + 1 }}</td>
            <td>{{ documentPosition?.name }}</td>
            <td>{{ documentPosition?.quantity}}</td>
            <td>{{ documentPosition?.netto | number : '1.2-2'}}</td>
            <td>{{ documentPosition?.vat }}%</td>
            <td>{{ documentPosition?.vat_sum | number : '1.2-2'}}</td>
            <td>{{ documentPosition?.brutto | number : '1.2-2'}}</td>
            <td class="collapsing" style="text-align: center;">
                <div class="ui  red icon button mini" (click)="deleteById(documentPosition.id)"><i class="remove icon"></i></div>
            </td>
        </tr>
        <tr *ngIf="add">
            <td colspan="2" style="text-align: center;">
                <span>{{ typeOfPosition() }}</span>
                <div class="ui toggle fitted checkbox">
                    <input type="checkbox" (change)="changePositionType()">
                    <label></label>
                </div>
            </td>
            <td>
                <div class="ui form">
                    <div class="field">
                        <select class="ui search dropdown" (change)="nameSelect($event.target.value)">
                            <option value="">Wybierz</option>
                            <option *ngFor="let item of selectItems;" value="{{ item.id }}">{{ item.name }}</option>
                        </select>
                    </div>
                </div>
            </td>
            <td class="collapsing">
                <div class="ui input smaller-value" *ngIf="positionType">
                    <input type="text" name="quantity" [(ngModel)]="addPosition.quantity" (blur)="quantityBlur()">
                </div>
                <div class="ui right labeled input small-value" *ngIf="!positionType">
                    <input type="text" name="quantity" style="width: 50px;" [(ngModel)]="addPosition.quantity" (blur)="quantityBlur()">
                    <div class="ui basic label">
                        {{ unit }}
                    </div>
                </div>
            </td>
            <td class="collapsing">
                <div class="ui input small-value">
                    <input type="text" name="netto" [(ngModel)]="addPosition.netto" (blur)="nettoBlur()">
                </div>
            </td>
            <td class="collapsing">
                <div class="ui right labeled input small-value">
                    <input type="text" name="vat" style="width: 50px;" [(ngModel)]="addPosition.vat" (blur)="vatBlur()">
                    <div class="ui basic label">
                        %
                    </div>
                </div>
            </td>
            <td class="collapsing">
                <div class="ui input small-value">
                    <input type="text" name="vatSum" [(ngModel)]="addPosition.vatSum" (blur)="vatSumBlur()">
                </div>
            </td>
            <td class="collapsing">
                <div class="ui input small-value">
                    <input type="text" name="brutto" [(ngModel)]="addPosition.brutto" (blur)="bruttoBlur()">
                </div>
            </td>
            <td class="collapsing">
                <div class="ui  red icon button mini" (click)="closeAdd()"><i class="remove icon"></i></div>
            </td>
        </tr>
        <tr *ngIf="positionsReturn">
            <td colspan="4">Razem:</td>
            <td>{{ documentSum?.netto | number : '1.2-2'}}</td>
            <td></td>
            <td>{{ documentSum?.vatSum | number : '1.2-2'}}</td>
            <td>{{ documentSum?.brutto | number : '1.2-2'}}</td>
            <td class="collapsing"></td>
        </tr>
    </tbody>
    <tbody *ngIf="notFound">
        <tr>
            <td colspan="9" class="ui center aligned" style="font-size: 20px; color: #ccc;">
                Brak pozycji
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="9">
                <button class="ui  red labeled icon button" [disabled]="isDelete() || deleteLoading" [ngClass]="{'loading': deleteLoading}" (click)="deleteChecked()">
                    <i class="trash icon"></i> Usuń
                </button>
                <div class="ui  green right floated labeled icon button" (click)="addView()" *ngIf="!add">
                    <i class="plus icon"></i> Dodaj
                </div>
                <div class="ui  green right floated labeled icon button" (click)="addNewPosition()" *ngIf="add">
                    <i class="checkmark icon"></i> Zatwierdź
                </div>
            </th>
        </tr>
    </tfoot>
</table>