
 <div style="overflow: hidden">

<div class="ui buttons" style="float: left; margin-right: 30px">
  <button class="ui button">Wszystkie</button>
  <button class="ui button active">Faktury</button>
  <button class="ui button">Rachunki</button>
</div>

<div class="ui form" style="float: left; margin-right: 10px">
  <div class="inline field">
    <label>Od</label>
    <input type="date">
  </div>
</div>

<div class="ui form" style="float: left;">
  <div class="inline field">
    <label>do</label>
    <input type="date">
  </div>
</div>

<div class="ui search" style="float: right">
  <div class="ui icon input">
    <input class="prompt" type="text" placeholder="Szukaj...">
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>

</div>
        <table class="ui celled table selectable">
  <thead>
    <tr>
    <th>
      <div class="ui fitted checkbox">
          <input type="checkbox"> <label></label>
        </div>
    </th>
    <th>Numer</th>
    <th>Typ</th>
    <th>Data wystawienia</th>
    <th>Data płatności</th>
    <th>Metoda płatności</th>
    <th>Zapłacono</th>
    <th>Klient</th>
  </tr></thead>
  <tbody>
    <tr *ngFor="let document of documents">
    <td class="collapsing">
        <div class="ui fitted checkbox">
          <input type="checkbox"> <label></label>
        </div>
      </td>
      <td><a [routerLink]="['/documents', document.id]">{{ document.number }}</a></td>
      <td>{{ document.type }}</td>
      <td>{{ document.date | date: 'dd/MM/yyyy'  }}</td>
      <td>{{ document.date_of_payment | date: 'dd/MM/yyyy' }}</td>
      <td>{{ document.payment_method }}</td>
      <td><span *ngIf="document.paid">Tak</span><span *ngIf="!document.paid">Nie</span></td>
      <td>{{ document.consumer.name }}</td>
    </tr>

  </tbody>
  <tfoot>
    <tr><th colspan="8">
        <div class="ui  red labeled icon button disabled">
          <i class="trash icon"></i> Usuń
        </div>
      <div class="ui right floated pagination menu small">
        <a class="icon item">
          <i class="left chevron icon"></i>
        </a>
        <a class="item">1</a>
        <a class="item">2</a>
        <a class="item">3</a>
        <a class="item">4</a>
        <a class="icon item">
          <i class="right chevron icon"></i>
        </a>
      </div>
    </th>
  </tr></tfoot>
</table>
<div class="ui green labeled icon button">
          <i class="file outline icon"></i> Nowy dokument
        </div>