<div class="ui grid">
    <div class="four wide column">
        <div class="ui segment">
            <div class="ui active inverted dimmer" *ngIf="documentDataLoading">
                <div class="ui loader"></div>
            </div>
            <h2 class="ui horizontal divider header">{{ document.number }}</h2>
            <div class="ui right floated icon button mini"><i class="write icon"></i></div>
            <b>Wystawiono:</b> {{ document.date | date: 'dd/MM/yyyy' }}
            <br>
            <b>Data płatności:</b> {{ document.dateOfPayment | date: 'dd/MM/yyyy' }}
            <br>
            <b>Metoda płatności:</b> {{ document.paymentMethod }}
            <br>
            <b>Zapłacono:</b> {{ document.paid ? "Tak" : "Nie" }}
            <br>
            <b>Miejsce:</b> {{ document.place }}
            <br>
        </div>
        <div class="ui segment">
            <div class="ui active inverted dimmer" *ngIf="userDataLoading">
                <div class="ui loader"></div>
            </div>
            <h3 class="ui horizontal divider header">Sprzedawca</h3>
            <p>
                {{userData.name}}
                <br>
                <span *ngIf="userData.street">{{userData.street}}<span *ngIf="userData.buildNumber">, {{userData.buildNumber}}</span><span *ngIf="userData.apartmentNumber">/{{userData.apartmentNumber}}</span>
                </span>
                <br>
                <span *ngIf="userData.postalCode">{{userData.postalCode}} </span>
                <span *ngIf="userData.place">{{userData.place}}</span>
                <br>
                <span *ngIf="userData.nip">NIP {{userData.nip}}</span>
                <br>
            </p>
        </div>
        <div class="ui segment">
            <h3 class="ui horizontal divider header">Nabywca</h3>
            <!-- <document-consumer [consumerId]=consumerId></document-consumer> -->
            <consumer-input [consumerId]=consumerId (consumerOutput)="setConsumerId($event)"></consumer-input>
        </div>
        <div class="ui blue labeled icon button">
            <i class="print icon"></i> Drukuj
        </div>
    </div>
    <div class="twelve wide column">
        <document-positions [id]=id [document]=document></document-positions>
    </div>
</div>
