<div style="overflow: hidden">
    <div class="ui search" style="float: right">
        <i class="remove icon remove-search" *ngIf="isSearch()" (click)="clearSearch()"></i>
        <div class="ui icon input">
            <input class="prompt" [(ngModel)]="search" (keyup)="searchVehicles()" type="text" placeholder="Szukaj...">
            <i class="search icon" *ngIf="!isSearch()"></i>
        </div>
        <div class="results"></div>
    </div>
</div>
<table class="ui celled table selectable">
    <thead>
        <tr>
            <th>
                <div class="ui fitted checkbox">
                    <input type="checkbox" (change)="allDelete()" [checked]="isAllChecked()">
                    <label></label>
                </div>
            </th>
            <th (click)="sortingBy('registrationNumber')">Numer rejestracyjny
                <i class="sort icon" [ngClass]="{'descending': (order('registrationNumber')=='DESC'), 'ascending': (order('registrationNumber')=='ASC')}"></i>
            </th>
            <th (click)="sortingBy('mark')">Marka
                <i class="sort icon" [ngClass]="{'descending': (order('mark')=='DESC'), 'ascending': (order('mark')=='ASC')}"></i>
            </th>
            <th (click)="sortingBy('model')">Model
                <i class="sort icon" [ngClass]="{'descending': (order('model')=='DESC'), 'ascending': (order('model')=='ASC')}"></i>
            </th>
            <th (click)="sortingBy('engine')">Silnik
                <i class="sort icon" [ngClass]="{'descending': (order('engine')=='DESC'), 'ascending': (order('engine')=='ASC')}"></i>
            </th>
        </tr>
    </thead>
    <tbody *ngIf="isReturn()">
        <tr *ngFor="let vehicle of vehicles">
            <td class="collapsing">
                <div class="ui fitted checkbox">
                    <input type="checkbox" (change)="addDelete(vehicle.id)" [checked]="isCheck(vehicle.id)">
                    <label></label>
                </div>
            </td>
            <td><a [routerLink]="['/vehicles', vehicle.id]">{{ vehicle?.registrationNumber }}</a></td>
            <td>{{ vehicle?.mark }}</td>
            <td>{{ vehicle?.model }}</td>
            <td>{{ vehicle?.engine }}</td>
        </tr>
    </tbody>
    <tbody *ngIf="!isReturn()">
        <tr>
            <td colspan="8" class="ui center aligned" style="font-size: 20px; color: #ccc;">
                Nie znaleziono
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="8">
                <button class="ui  red labeled icon button" [disabled]="isDelete()" (click)="deleteChecked()">
                    <i class="trash icon"></i> Usuń
                </button>
                <div class="ui right floated pagination menu small">
                    <a class="icon item">
                        <i class="left chevron icon"></i>
                    </a>
                    <a class="item">1</a>
                    <a class="item">2</a>
                    <a class="item">3</a>
                    <a class="item">4</a>
                    <a class="icon item">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </th>
        </tr>
    </tfoot>
</table>
<div class="ui green labeled icon button" [routerLink]="['/vehicles/add']">
    <i class="car icon"></i> Nowy pojazd
</div>
