<div class="ui segment" style="max-height: 100%;">
    <form class="ui form">
        <table class="ui celled table form">
            <tr>
                <td>
                    <div class="field">
                        <label>Nazwa</label>
                        <input type="text" name="name" placeholder="Nazwa" [(ngModel)]="store.name">
                    </div>
                </td>
                <td style="width: 10%">
                    <div class="field">
                        <label>Ilość</label>
                        <input type="text" name="quantity" [(ngModel)]="store.quantity">
                    </div>
                </td>
                <td style="width: 10%">
                    <div class="field">
                        <label>Jednostka</label>
                        <input type="text" name="unit" [(ngModel)]="store.unit">
                    </div>
                </td>
                <td style="width: 10%">
                    <div class="field">
                        <label>Netto</label>
                        <input type="text" name="netto" [(ngModel)]="store.netto" (blur)="nettoBlur()">
                    </div>
                </td>
                <td style="width: 10%">
                    <div class="field small-value">
                        <label>VAT</label>
                        <div class="ui right labeled input small-value">
                            <input type="text" name="vat" style="width: 50px;" [(ngModel)]="store.vat" (blur)="vatBlur()">
                            <div class="ui basic label">
                                %
                            </div>
                        </div>
                    </div>
                </td>
                <td style="width: 10%">
                    <div class="field">
                        <label>Kwota VAT</label>
                        <input type="text" name="vatSum" [(ngModel)]="store.vatSum" (blur)="vatSumBlur()">
                    </div>
                </td>
                <td style="width: 10%">
                    <div class="field">
                        <label>Brutto</label>
                        <input type="text" name="brutto" [(ngModel)]="store.brutto" (blur)="bruttoBlur()">
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <br>
    <div class="ui  green labeled icon button" (click)="add()">
        <i class="plus icon"></i> Dodaj
    </div>
</div>
