<form class="ui form" #consumerForm="ngForm">
    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui segment">
                <div class="field" [ngClass]="{'error': !available}">
                    <label>Nazwa użytkownika *</label>
                    <div class="ui icon input" [ngClass]="{'loading': availableLoading}">
                        <input type="text" name="_username" placeholder="Nazwa użytkownika" (keyup)="checkUsername()" [(ngModel)]="user._username">
                        <i class="circle icon" [ngClass]="{'check': available, 'remove': !available}"></i>
                    </div>
                    <small [hidden]="available">Ta nazwa użytkownika jest juz zajęta</small>
                </div>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>Hasło *</label>
                            <input type="password" name="_password" placeholder="Hasło" (keyup)="matchPassword()" [(ngModel)]="user._password">
                        </div>
                        <div class="field" [ngClass]="{'error': !match}">
                            <label>Powtórz hasło *</label>
                            <div class="ui icon input">
                                <input type="password" name="confirmPassword" placeholder="Powtórz hasło" (keyup)="matchPassword()" [(ngModel)]="user.confirmPassword">
                                <i class="circle icon" [ngClass]="{'check': match, 'remove': !match}"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field" [ngClass]="{'error': !availableEmail}">
                    <label>Email *</label>
                    <div class="ui icon input" [ngClass]="{'loading': availableEmailLoading}">
                        <input type="text" name="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" (keyup)="checkEmail()" [(ngModel)]="user.email">
                        <i class="circle icon" [ngClass]="{'check': availableEmail, 'remove': !availableEmail}"></i>
                    </div>
                    <small [hidden]="availableEmail">Użytkownik o tym emailu już istnieje</small>
                </div>
                <div class="field">
                    <label>Firma *</label>
                    <input type="text" name="company" id="company" placeholder="Firma" [(ngModel)]="user.company">
                </div>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>Imie *</label>
                            <input type="text" name="firstName" placeholder="Imie" [(ngModel)]="user.firstName">
                        </div>
                        <div class="field">
                            <label>Nazwisko *</label>
                            <input type="text" name="lastName" placeholder="Nazwisko" [(ngModel)]="user.lastName">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>NIP *</label>
                            <input type="text" name="nip" placeholder="NIP" [(ngModel)]="user.nip">
                        </div>
                        <div class="field">
                            <label>REGON</label>
                            <input type="text" name="pesel" placeholder="REGON" [(ngModel)]="user.regon">
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <label>Ulica *</label>
                        <input type="text" name="street" required id="street" placeholder="Ulica" [(ngModel)]="user.street">
                    </div>
                    <div class="three wide field">
                        <label>Budynek</label>
                        <input type="text" name="buildNumber" placeholder="Budynek" [(ngModel)]="user.buildNumber">
                    </div>
                    <div class="three wide field">
                        <label>Lokal</label>
                        <input type="text" name="apartmentNumber" placeholder="Lokal" [(ngModel)]="user.apartmentNumber">
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Kod pocztowy *</label>
                        <input type="text" name="postalCode" required placeholder="Kod pocztowy" [(ngModel)]="user.postalCode">
                    </div>
                    <div class="eleven wide field">
                        <label>Miejscowość *</label>
                        <input type="text" name="place" placeholder="Miejscowość" required [(ngModel)]="user.place">
                    </div>
                </div>
                <button class="ui button" (click)="register()">
                    Zarejestruj
                </button>
            </div>
        </div>
    </div>
</form>
