<div class="ui four column centered grid">
    <div class="column">
        <div class="ui segment login-container">
            <form class="ui form" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div class="field" [ngClass]="{ 'error': f.submitted && !username.valid }">
                    <label for="username">Nazwa użytkownika</label>
                    <input type="text" name="username" placeholder="Nazwa użytkownika" [(ngModel)]="model.username" #username="ngModel" required>
                </div>
                <div class="field" [ngClass]="{ 'error': f.submitted && !password.valid }">
                    <label for="password">Hasło</label>
                    <input type="password" name="password" placeholder="Hasło" [(ngModel)]="model.password" #password="ngModel" required>
                </div>
                <button class="ui button" [disabled]="loading" [ngClass]="{'loading': loading}">Zaloguj</button>
            </form>
            <div class="ui red message" *ngIf="error">
                <div class="content">
                    <p>{{error}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
