<div class="ui segment" style="max-height: 100%;">
    <form class="ui form" #consumerForm="ngForm">
        <div class="ui relaxed grid">
            <div class="two column row">
                <div class="column">
                    <h4 class="ui dividing header">Podstawowe dane</h4>
                    <div class="field" [ngClass]="{'error': dataAlert}">
                        <label>Firma <sup>[1]</sup></label>
                        <input type="text" name="company" id="company" placeholder="Firma" [(ngModel)]="consumer.company">
                    </div>
                    <div class="field">
                        <div class="two fields">
                            <div class="field" [ngClass]="{'error': dataAlert}">
                                <label>Imie <sup>[1]</sup></label>
                                <input type="text" name="firstName" placeholder="Imie" [(ngModel)]="consumer.firstName">
                            </div>
                            <div class="field" [ngClass]="{'error': dataAlert}">
                                <label>Nazwisko <sup>[1]</sup></label>
                                <input type="text" name="lastName" placeholder="Nazwisko" [(ngModel)]="consumer.lastName">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>NIP</label>
                                <input type="text" name="nip" placeholder="NIP" [(ngModel)]="consumer.nip">
                            </div>
                            <div class="field">
                                <label>PESEL</label>
                                <input type="text" name="pesel" placeholder="PESEL" [(ngModel)]="consumer.pesel">
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="ten wide field" [ngClass]="{'error': (!street.valid && (street.dirty || street.touched))}">
                            <label>Ulica *</label>
                            <input type="text" name="street" required id="street" placeholder="Ulica" [(ngModel)]="consumer.street" #street="ngModel">
                            <div *ngIf="street.errors && (street.dirty || street.touched)">
                                <small [hidden]="!street.errors.required">Ulica jest wymagana</small>
                            </div>
                        </div>
                        <div class="three wide field">
                            <label>Budynek</label>
                            <input type="text" name="buildNumber" placeholder="Budynek" [(ngModel)]="consumer.buildNumber">
                        </div>
                        <div class="three wide field">
                            <label>Lokal</label>
                            <input type="text" name="apartmentNumber" placeholder="Lokal" [(ngModel)]="consumer.apartmentNumber">
                        </div>
                    </div>
                    <div class="fields">
                        <div class="five wide field" [ngClass]="{'error': (!postalCode.valid && (postalCode.dirty || postalCode.touched))}">
                            <label>Kod pocztowy *</label>
                            <input type="text" name="postalCode" pattern="[0-9]{2}\-[0-9]{3}" required placeholder="Kod pocztowy" [(ngModel)]="consumer.postalCode" #postalCode="ngModel">
                            <div *ngIf="postalCode.errors && (postalCode.dirty || postalCode.touched)">
                                <small [hidden]="!postalCode.errors.required">Kod pocztowy jest wymagany</small>
                                <small [hidden]="!postalCode.errors.pattern">Podaj poprawny format (00-000)</small>
                            </div>
                        </div>
                        <div class="eleven wide field" [ngClass]="{'error': (!city.valid && (city.dirty || city.touched))}">
                            <label>Miejscowość *</label>
                            <input type="text" name="city" placeholder="Miejscowość" required [(ngModel)]="consumer.city" #city="ngModel">
                            <div *ngIf="city.errors && (city.dirty || city.touched)">
                                <small [hidden]="!city.errors.required">Miejscowość jest wymagana</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <h4 class="ui dividing header">Dane dodatkowe</h4>
                    <div class="field">
                        <label>Telefon</label>
                        <div class="field">
                            <input type="text" name="phone" placeholder="Telefon" [(ngModel)]="consumer.phone">
                        </div>
                    </div>
                    <div class="field" [ngClass]="{'error': (!email.valid && (email.dirty || email.touched))}">
                        <label>Email</label>
                        <input type="text" name="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="consumer.email" #email="ngModel">
                        <div *ngIf="email.errors && (email.dirty || email.touched)">
                            <small [hidden]="!email.errors.pattern">Podaj poprawny format adresu email</small>
                        </div>
                    </div>
                    <div class="field">
                        <label>WWW</label>
                        <div class="field">
                            <input type="text" name="www" placeholder="WWW" [(ngModel)]="consumer.www">
                        </div>
                    </div>
                    <div class="field">
                        <label>Bank</label>
                        <div class="field">
                            <input type="text" name="bank" placeholder="Bank" [(ngModel)]="consumer.bank">
                        </div>
                    </div>
                    <div class="field">
                        <label>Numer konta</label>
                        <div class="ui labeled input">
                            <div class="ui label">
                                PL
                            </div>
                            <input type="text" name="bankAccount" pattern="[0-9]" placeholder="Numer konta" [(ngModel)]="consumer.bankAccount">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br>
    <button class="ui  green labeled icon button" [ngClass]="{'loading': addLoading}" (click)="add()" [disabled]="!consumerForm.form.valid || addLoading">
        <i class="plus icon"></i> Dodaj
    </button>
    <br>
    <br>
    <small *ngIf="!dataAlert">[1] - Klient musi posiadać imię i nazwisko, lub nazwę firmy</small>
    <div class="ui negative message" *ngIf="dataAlert">
        <i class="close icon" (click)="closeDataAlert()"></i>
        <div class="header">
            Klient nie mógł zostać dodany
        </div>
        <p>Klient musi posiadać przynajmniej jedną z informacji:</p>
        <ul>
            <li>Nazwa firmy</li>
            <li>Imię i nazwisko</li>
        </ul>
    </div>
</div>
