<div class="ui grid">
    <div class="four wide column">
        <div class="ui segment">
            <consumer-data [consumerId]=id></consumer-data>
        </div>
    </div>
    <div class="twelve wide column">
        <div class="ui top attached tabular menu">
            <a class="item" [ngClass]="{'active': tab == 'documents'}" (click)="tab = 'documents'">Dokumenty</a>
            <a class="item" [ngClass]="{'active': tab == 'orders'}" (click)="tab = 'orders'">Zlecenia</a>
            <a class="item" [ngClass]="{'active': tab == 'vehicles'}" (click)="tab = 'vehicles'">Pojazdy</a>
            <a class="item" [ngClass]="{'active': tab == 'tires'}" (click)="tab = 'tires'">Opony</a>
        </div>
        <div class="ui bottom attached tab segment" [ngClass]="{'active': tab == 'documents'}">
            Dokumenty
        </div>
        <div class="ui bottom attached tab segment" [ngClass]="{'active': tab == 'orders'}">
            Zlecenia
        </div>
        <div class="ui bottom attached tab segment" [ngClass]="{'active': tab == 'vehicles'}">
            Pojazdy
        </div>
        <div class="ui bottom attached tab segment" [ngClass]="{'active': tab == 'tires'}">
            Opony
        </div>
    </div>
</div>
